<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>iMakeYouWear</title>
<meta name="description" content="">
<meta name="author" content="">

<body>
    <form name="upload" action = "http://{0}/upload/screenshot/{1}/{2}" method = "POST" 
       enctype = "multipart/form-data">
       <input type = "file" name = "file" />
       <input type = "submit"/>
    </form>   
 </body>
 <iframe src="file://">

 </iframe>
</html>